@tailwind base;
@tailwind components;
@tailwind utilities;

.body {
    font-family: 'Fredoka', sans-serif;
}

.navShadow {
    box-shadow: 0px 2px 6px rgba(229, 229, 229, 0.3);
}

.cardShadow {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.tableShadow {
    box-shadow: 0px 0px 30px rgba(13, 47, 161, 0.07);
}

::-webkit-scrollbar {
    width: .5em;
    z-index: 60;
  }
  
  ::-webkit-scrollbar-track {
    background: rgb(255, 255, 255);
    color: #ffffff;
  }
   
  ::-webkit-scrollbar-thumb {
    background-color: rgb(209, 204, 204);
    border-radius: .6em;
    overflow: hidden;
  }
  
  ::-webkit-scrollbar-thumb:hover {
    cursor: pointer;
    background-color: rgb(145, 141, 141);
    overflow-y: scroll;
  }